<h1>My tasks</h1>
<ul style="list-style: none; padding-left: 0;">
  <% @tasks.each do |task| %>
    <li>
      <%= task.completed ? 'â˜‘' : 'â˜' %>
      <%= link_to task.title, task_path(task) %>
      <%= link_to "ðŸ—‘", task_path(task), method: "delete", data: { confirm: "Delete #{task.title}?" } %>
    </li>
  <% end %>
</ul>

<%= link_to("âž• Add a new task", new_task_path) %>
